[user]
    name = insalada
    email = insalada@gmail.com

[core]
    editor = vim
    autocrlf = input

[alias]
    s = status
    c = checkout
    b = branch
    cm = commit
    l = log --oneline --graph --decorate

[push]
      default = simple

